/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(224, 218, 218);
  }
  
header {
    background-color: #08293f; /* cor azul escuro */
    height: 100px; /* altura do cabeçalho */
    display: flex; /* para alinhar os itens no meio */
    align-items: center; /* para alinhar os itens no meio */
  }

header a:hover {
    color: rgb(46, 192, 71);
}
header a {
    color: aliceblue;
    text-decoration: none;
    transition: color 0.3s;
}

header h2:hover {
    color: rgb(46, 192, 71);
}
header h2 {
    color: aliceblue;
    text-decoration: none;
    transition: color 0.3s;
    cursor:pointer;
}
  
  .header-content {
    max-width: 1280px; /* tamanho máximo para o conteúdo do cabeçalho */
    margin: 0 auto; /* para centralizar o conteúdo */
    display: flex; /* para colocar os itens lado a lado */
  }
  
  .img-container {
    margin-left: 20px; /* margem esquerda para a imagem */
  }
  
  .img-container img {
    width: 80px; /* largura da imagem */
    height: 80px; /* altura da imagem */
    border-radius: 50%; /* para fazer o contorno da imagem circular */
  }
  
  .logo {
    margin-right: auto; /* para mover o logotipo para a esquerda */
  }
  
  .logo h2 {
    font-size: 1.5rem; /* tamanho da fonte */
    color: #fff; /* cor branca para o texto */
    text-transform: uppercase; /* para deixar o texto em maiúsculas */
    font-weight: bold; /* para deixar o texto em negrito */
    letter-spacing: 2px; /* espaçamento entre as letras */
  }
  
  .nav-links {
    list-style: none; /* para remover os pontos dos links */
    display: flex; /* para alinhar os itens no meio */
    align-items: center; /* para alinhar os itens no meio */
    margin-left: 20px; /* margem esquerda para os links */
  }
  
  .nav-links a {
    color: #fff; /* cor branca para os links */
    text-decoration: none; /* para remover a sublinhado dos links */
    font-size: 1.2rem; /* tamanho da fonte */
    letter-spacing: 1px; /* esspaçamento entre as letras */
    margin-left: 20px; /* margem entre os links */
    }
   
    
  
  footer {
    background-color: #08293f; /* cor azul escuro */
    color: #fff; /* cor branca para o texto */
    text-align: center; /* para centralizar o texto */
    padding: 20px; /* espaçamento interno */
  }  
  
  
  
  